body {
    /* background properties */
    background-color: rgb(10, 10, 10)
}

h1 {
    text-align: center;
}

h1 {
    font-family: sans-serif;
    color: white;
    font-size: 45px;
    text-decoration: underline;
}

strong { font-family: sans-serif;
        color: white;
        font-size: 25px;
    }



h2{
    front-family: sans-serif;
    color: white;
    font-size: 30px;
}

h3{
    font-family: sans-serif;
    color: white;
    font-size: 20;
}

h4{
    font-family: sans-serif;
    color: white;
    font-size: 20;
}

h5{
    font-family: sans-serif;
    color: white;
    font-size: 20;
}


img {
    width: 25%;
    border: 2px solid #ffff;
    padding: 5px;
    text-align: center
    
}

img{
    margin: 1px auto;
    display: block
}    

body {
    line-height: 2;
    margin: 30px;
    border: 5px solid blue;
    border-radius: 5px;
    padding: 30px;
}


p {
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    
}



img {
    /*float: right;*/
    margin-right: 10px;
    border: 1px solid white;
    padding: 5px;
    text-align: center

}

img[alt] {
    float: right;
}